{% extends 'base.html' %}
{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %} 
<div class="content" style="margin:auto;">
    <h1>Assign Book</h1>

    <table>
        <tr>
            <th width="20%">Book Cover</th>
            <th width="25%">Name</th>
            <th width="20%">Price</th>
            <th width="20%">Author</th>
            <th width="15%">Subscribe</th>
        </tr>
        {% for b in books %}
        <tr>
            <td>
                <img src="{{ url_for('book.static',filename='uploads/covers/'+b.filename)}}" width="100px" height="153px">
            </td>
            <td>{{b.name}}</td>
            <td>Rs. {{b.price}}</td>
            <td>{{b.author}}</td>
            <td>
                <a href="/student/subscribe/{{b.id}}/{{stu_id}}">Subscribe</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>

{% endblock %}