{% extends 'base.html' %}
{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}

<!-- <img src="{{ url_for('static',filename='images/book_store.jpg') }}" width="200px"> -->
<div class="content">
    <h1> My Subscriptions</h1>

    <table>
        <thead>
            <tr>
            <th width="20%">Book Cover</th>
            <th width="25%">Name</th>
            <th width="20%">Price</th>
            <th width="20%">Author</th>
            </tr>
        </thead>
        <tbody>
            {{current_user.student.subscriptions}}
        </tbody>
    </table>
</div>

{% endblock %}